<%= form_for(@aplikace) do |f| %>
  <% if @aplikace.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aplikace.errors.count, "error") %> prohibited this aplikace from being saved:</h2>

      <ul>
      <% @aplikace.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

   <div class="field">

    <%= f.fields_for :aplikacePlatforms, @aplikace.aplikacePlatforms.first do |builder| %>
    <%= builder.label :platforms %>
        <% if @aplikace.platforms.first.nil? %>
            <%=  builder.collection_select :platform_id, Platform.all, :id, :platform, {:selected => 1}%>
        <% else 
        %>

            <%=  builder.collection_select :platform_id, @aplikace.platforms, :id, :platform %>
            Pridat dalsi platformu
        <% end %>      
    <% end %>
    

  </div>

  <div class="field">
  
                  <%= f.fields_for :versions, @aplikace.versions do |builder| %>
                    <%= builder.label :version %>


                            <%= builder.text_field :version %>



                    
                    
                    

                    <%= builder.fields_for :attachments, @aplikace.versions.build.attachments.build do |builder2| %>
                        <%= builder2.label :file %>
                        <%= builder2.file_field :file %>
                    <% end %>

                    <br/>
              
                <% end %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="field">
          <% @aplikace.previews.each do |pre| %>
              <%= image_tag pre.foto.url(:thumb) %>

          <% end %> 
          <%= f.fields_for :previews, @aplikace.previews.build do |builder| %>
          <%= builder.label :foto %>
          <%= builder.file_field :foto %>


     <% end %> 
  </div>

  <div class="field">
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>