<%= form_for(@aplikace) do |f| %>
  <% if @aplikace.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aplikace.errors.count, "error") %> prohibited this aplikace from being saved:</h2>

      <ul>
      <% @aplikace.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

   <div class="field">
    <%= f.label :platform %><br>
    <%= collection_select(:platform_id, 1, Platform.all, :id, :platform) %>

  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<!--  <%= simple_form_for :aplikace do |f| %>

   <div class="field">
     <%= f.input :title %>
   </div>
   <div class="field">
    <%= f.input :platform, :collection => Platform.all,:label_method => :platform,:value_method => :id,:label => "Platfoma" ,:include_blank => false %>
   </div>
   <div class="action">
     <%= f.button :submit %>
   </div>
 <% end %> -->