<%= form_for(@aplikace) do |f| %>
  <% if @aplikace.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aplikace.errors.count, "error") %> prohibited this aplikace from being saved:</h2>

      <ul>
      <% @aplikace.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

   <div class="field">
    <%= f.label :platform %>

    <%= f.collection_select :platform, @platforma, :id, :platform, {:selected => @platforma.first.id } %>


  </div>

  <div class="field">
    <%= f.label :version %>
    <% if @version!=nil %>
        <%= f.collection_select :version, @version, :id, :version, {:selected => @version.last.id } %>
    <% else %>
        <%= f.text_field :version %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>