<%= form_for(@aplikace) do |f| %>
  <% if @aplikace.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aplikace.errors.count, "error") %> prohibited this aplikace from being saved:</h2>

      <ul>
      <% @aplikace.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

   <div class="field">

    <%= f.fields_for :aplikacePlatforms do |builder| %>
    <%= builder.label :platforms %>
        <% if @aplikace.platforms.first.nil? %>
            <%=  builder.collection_select :platform_id, Platform.all, :id, :platform, {:selected => 1, "data-native-menu" => :false }%>
        <% else 
        %>

            <%=  builder.collection_select :platform_id, Platform.all, :id, :platform,  :prompt => true %>
        <% end %>      
    <% end %>
    new

  </div>

  <div class="field">
  
                  <%= f.fields_for :versions do |builder| %>
                

                    <%= builder.label :version %>
                    <%= builder.text_field :version %>
              
                <% end %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.fields_for :previews do |builder| %>
      <%= builder.label :preview %>
      <%= builder.file_field :preview %>
     <% end %> 
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>