<p>
  <strong>Nazev:</strong>
  <%= @apl.title %><br/>
  <strong>Platforma:</strong>
  <% @platforma.each do |plat| %>
        <%= link_to href: 'http://www.android.com/' do %>
        <%= image_tag plat.platform + '.png', alt: plat.platform %>
  <% end %>

  <% end %>
  <br/> 
  <strong>Verze:</strong>
  <% @version.each do |ver| %>
        <%= ver.version %>
        <%="," unless @version.last  %>
  <% end %> 
  <br/>
  <strong>Popis:</strong>
  <%= @apl.description %>
</p>