<p>
  <strong>Nazev:</strong>
  <%= @aplikace.title %><br/>
  <strong>Platforma:</strong>
  <% @aplikace.platforms.each do |plat| %>
        <%= link_to href: 'http://www.android.com/' do %>
        <%= image_tag plat.platform + '.png', alt: plat.platform %>
  <% end %>

  <% end %>
  <br/> 
  <strong>Verze:</strong>
  <% @aplikace.versions.each do |ver| %>
        <%= ver.version -%> 
        <%=", " unless ver == @aplikace.versions.last %>
  <% end %> 
  <br/>
  <strong>Popis:</strong>
  <%= @aplikace.description %>
  <br/>
  <strong>Galerie:</strong>
  <% @aplikace.previews.each do |pre| %>
    <%= image_tag pre.foto.url(:thumb) %>
  <% end %> 

</p>