<p>
  <strong>Nazev:</strong>
  <%= @aplikace.title %><br/>
  <strong>Platforma:</strong>
  <% @aplikace.platforms.each do |plat| %>
        <%= link_to href: 'http://www.android.com/' do %>
        <%= image_tag plat.platform + '.png', alt: plat.platform %>
  <% end %>

  <% end %>
  <br/> 
  <strong>Verze:</strong>
  <% @aplikace.aplikacePlatforms.each do |ver| %>
      <% ver.versions.each do |ver2| %>
          <%= ver2.version -%> 
          <% ver2.attachments.each do |install| %> 
              <% unless install.nil? %>
                  <%= link_to "Download", install.file.url(:original, false) %> 
              <% end %>
          <% end %>
      <% end %>

      <br/>
  <% end %> 
  <br/>
  <strong>Popis:</strong>
  <%= @aplikace.description %>
  <br/>
  <strong>Galerie:</strong>
  <% @aplikace.aplikacePlatforms.each do |pre| %>
        <% pre.previews.each do |pre2| %>
            <%= image_tag pre2.foto.url(:thumb) %>
        <% end %>
        <br/>
  <% end %> 
</p>