<p id="notice"><%= notice %></p>

<p>
  <strong>Nazev:</strong>
  <%= @aplikace.title %><br/>
  <strong>Platforma:</strong>
  <%= @platforma.first.platform %><br/>
  <strong>Verze:</strong>
  <%= @version.last.version %>
  <br/>
  <strong>Popis:</strong>
  <%= @aplikace.description %>
</p>


<%= link_to 'Editovat', edit_aplikace_path(@aplikace) %> |
<%= link_to 'Zpet', aplikaces_path %>
